*{
    margin: 0px;
    padding: 0px;
}

#main_div{
    height: 717px;
    width: 1536px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(open\ book.jpg);  
    background-size:1536px 717px;   
}

#main1{
    height: 600px;
    width: 1030px;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
}

#left{
    height: 450px;
    width: 470px;
    /* background-color: brown; */
    display: flex;
    align-items: center ;
    justify-content: center;

}
#left1{
    height: 200px;
    width: 300px;
    /* background-color: gold; */
}
#right{
    height: 540px;
    width: 480px;
    /* background-color: #8f71ff; */
    background-image: linear-gradient( #8f71ff ,#00b7c2);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border: 1px solid greenyellow;
    border-radius: 15px;
    box-shadow: 5px 5px black;
}

#right1{
    height: 40px;
    width: 470px;
    /* background-color: fuchsia; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#photo_div{
    height: 150px;
    width: 470px;
    background-color:#00b7c2;
    background-image: linear-gradient( #8f71ff ,#00b7c2);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;


}
#photo{
    height: 100px;
    border-radius: 100px;
}

h1{
    font-family:cursive;
    text-decoration: underline;
}
h2{
    font-family:cursive;
}